$color__primary: #065893;
$color__deepskyblue: #179CBC;
$color__aquamarine: #47C0A7;
$color__yellow: #FBE4A3;
$playfair__font: 'Playfair Display', serif;
$sourceSans__font: 'Source Sans Pro', sans-serif;
