<div class="row">
  <div class="col-6 offset-3">
    <app-alert [message]="error" *ngIf="error" (closeAlert)="onCloseAlert()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loader></app-loader>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ngModel required email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" name="password" ngModel required minlength="6">
      </div>
      <div>
        <button type="submit" class="btn btn-primary mr-1"
          [disabled]="!f.valid">{{ loginMode ? 'Log in' : 'Sign up' }}</button>
        <button type="button" class="btn btn-primary ml-1" (click)="onSwitchMode()">Switch to
          {{ loginMode ? 'Sign up' : 'Log in'}}</button>
      </div>
    </form>
  </div>
</div>
