<div class="row">
  <div class="col-4 offset-4">
    <app-alert [message]="error" *ngIf="error" (closeAlert)="onCloseAlert()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loader></app-loader>
    </div>
    <div class="card align-items-center">
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" ngModel required email>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" ngModel required minlength="6">
          </div>
          <div class="buttons">
            <button type="submit" class="btn btn-primary mr-1 btn-color"
              [disabled]="!f.valid">{{ loginMode ? 'Log in' : 'Sign up' }}</button>
            <button type="button" class="btn btn-primary ml-1 btn-color" (click)="onSwitchMode()">
              {{ loginMode ? 'Sign up' : 'Log in'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
